.colorpicker {
  cursor: pointer;
}

#app .page-content {
  padding: 56px 16px 16px 16px;
}

.game-cards {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.game-cards .card-header::after {
  content: none !important;
}

.game-cards i {
  opacity: .3;
}