@font-face { font-family: KayakSans; src: url(assets/Kayak-Sans-Regular.ttf); }
@font-face { font-family: KayakSansBold; src: url(assets/Kayak-Sans-Bold.ttf); }
@font-face { font-family: KayakSansLight; src: url(assets/Kayak-Sans-Light.ttf); }

html, body { height: 100%; overflow-x: hidden; overflow-y: hidden; }

body {
  margin: 0px;
  background-color: #1E2128;
  color: #E4E4E4;
  font-family: KayakSans;
}

.app-bar {
  width: 100%;
  height: 15%;
}

.app-bar table {
  height: 100%;
  width: 100%;
}

.app-bar table tr {
  width: 100%;
}

.app-logo {
  width:100%;
  height: 70%;
  background-image: url(assets/256logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-text-top {
  font-family: KayakSansBold;
  font-size: 36px;
  margin-bottom: 10px;
}

.logo-text-bottom {
  font-family: KayakSansLight;
  font-size: 14px;
  position: absolute;
  transform: translate(1px, -20px);
}

.home-slider-cont {
  height: 57%;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 13%;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide .slide {
  color:#fff;
  height: 100%;
  width: 95%;
  text-align: center;
  transform: scale(.85,.85);
  transition: all ease .3s;
  border-radius: 36px;
  display: inline-block;
}

.swiper-slide-active .slide {
  transform: scale(1,1);
  width: 100%;
}

.swiper-slide:nth-child(1) .slide { background-image: linear-gradient(to top right, #1BCEDF, #5B247A); }
.swiper-slide:nth-child(2) .slide { background-image: linear-gradient(to top right, #F38181, #FCE38A); }
.swiper-slide:nth-child(3) .slide { background-image: linear-gradient(to top right, #3BB2B8, #42E695); }
.swiper-slide:nth-child(4) .slide { background-image: linear-gradient(to top right, #2A2D36, #4E535C); }

.next-btn-slide {
  position: absolute;
  width: 20%;
  background-color: white;
  border-radius: 50%;
  transition: all ease .3s;
  box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.1);
}

.next-btn-slide .arrow {
  background-image: url(assets/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  height: 30%;
  margin: 35%;
}

.btn {
  transition: transform ease .05s;
  transform: scale(1);
}

.swiper-slide-active .btn:active {
  transform: scale(1.05);
}

.slide-title {
  font-family: KayakSans;
  font-size: 24px;
  line-height: 150%;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}

.slide-icon-cont {
  width: 100%;
  position: absolute;
  bottom: 40%;
}

.slide-icon {
  width: 42.5%;
}

.ripple-effect {
  overflow: hidden;
  position: relative;
}
.ripple {
  background-color: #cecece;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
}
.start {
  transform: scale(0.2);
}
.active {
  transform: scale(2);
  transition: transform 700ms, opacity 700ms;
  opacity: 0.2;
}

.ripple-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 50%;
}